.error-message {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-xxs);

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--error-text);
    padding-top: 1px;
  }

  &__text {
    font-size: var(--font-size-75);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-75);
    color: var(--error-text);
    flex: 1 0 0;
    min-width: 0;
  }
}
