.scrollbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  // ---------------------------------------------------------------------------
  // Orientation modifiers
  // ---------------------------------------------------------------------------
  &--vertical {
    flex-direction: column;
    width: 16px;
    height: 100%;

    .scrollbar__track {
      width: 6px;
      height: 100%;
      flex: 1 0 0;
      min-height: 0;
    }

    .scrollbar__thumb {
      width: 6px;
      position: absolute;
      border-radius: 3px;
      background-color: rgba(var(--center-channel-color-rgb), 0.24);
    }
  }

  &--horizontal {
    flex-direction: row;
    height: 16px;
    width: 100%;

    .scrollbar__track {
      height: 6px;
      width: 100%;
      flex: 1 0 0;
      min-width: 0;
    }

    .scrollbar__thumb {
      height: 6px;
      position: absolute;
      border-radius: 3px;
      background-color: rgba(var(--center-channel-color-rgb), 0.24);
    }
  }

  // ---------------------------------------------------------------------------
  // Elements
  // ---------------------------------------------------------------------------
  &__track {
    position: relative;
    border-radius: 3px;
  }

  &__thumb {
    transition: background-color var(--duration-quick) var(--ease-transition);

    &:hover {
      background-color: rgba(var(--center-channel-color-rgb), 0.4);
    }
  }
}
