@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border-radius: var(--radius-full);
  animation: spinner-spin 750ms linear infinite;
  background: conic-gradient(
    rgba(var(--center-channel-color-rgb), 0),
    rgba(var(--center-channel-color-rgb), 0.64)
  );
  mask-image: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--spinner-stroke-width, 2px)),
    #fff calc(100% - var(--spinner-stroke-width, 2px))
  );

  &--inverted {
    background: conic-gradient(
      rgba(var(--button-color-rgb), 0),
      rgba(var(--button-color-rgb), 0.64)
    );
  }
}
