// ---------------------------------------------------------------------------
// Block
// ---------------------------------------------------------------------------
.app-shell {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

// ---------------------------------------------------------------------------
// Elements
// ---------------------------------------------------------------------------
.app-shell__main {
  flex: 1;
  overflow-y: auto;
  background-color: var(--center-channel-bg);
  color: var(--center-channel-color);
}
