.permalink-preview {
  display: flex;
  align-items: flex-start;

  &__card {
    background-color: var(--center-channel-bg);
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: var(--radius-s);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: var(--spacing-s);
    align-items: flex-start;
    min-width: 0;
    padding: var(--spacing-xl);
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxxs, 4px);
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
  }

  &__header {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__text {
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-regular);
    line-height: 20px;
    color: var(--center-channel-color);
    width: 100%;
  }

  &__origin {
    font-size: var(--font-size-75);
    font-weight: var(--font-weight-regular);
    line-height: 16px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    white-space: nowrap;
    flex-shrink: 0;
  }
}
